/* Pequeños ajustes en los botones */

#logo {
    width: 15em;
}

[name='uploadButton'],
[name='loginButton'],
[name='exitButton'] {
    font-size: 20px;
}

[name='loginButton'],
[name='exitButton'] {
    top: -20px;
}